<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astrotalk.sdk">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.hardware.camera"
        android:required="false" />

    <application>
        <activity
            android:name=".api.activities.AstroOrderHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".api.activities.AstroChatAstrologerListActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".api.activities.AstroChatIntakeFormActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".api.activities.AstroSearchLocationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".api.activities.AstroUserAstrologerChatWindowActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".api.activities.AstroChatImageViewerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".api.activities.AstroAcceptChatInterfaceActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>